.card-body{
    background-color: #ffbb33;
    height: 150px;

    .card-title{
        font-family: "Creepster";
        font-size: 2em;
        height: 50px;

    }

    
}

.card-footer{
    background-color: #ffbb33!important;
    border-top: 0!important;

}