

.wrapper{
    display: inline-flex;
    width: 100%;
    cursor: pointer;
    

    .img-wrapper{
        
        img{
            height: 100px;
            width: 80px;
        }
    }

    .title-wrapper {
        width: 100%;;
        font-family: "Creepster";
        background-color: #b77eff;
        display: flex;
        color: #440078;
    }

    .button-wrapper{
        button{
            height: 100%;
            width: 100%;
            border-radius: 0;
        }
        
    }
}

.modal-content{
    // background-color: #ffbb33!important;
    font-family: "Creepster";

    .modal-header{
        border: 0!important;
        background-color: #ffbb33;

    }

    .modal-body{
        background-color: black;
        color: white;
    }
}
